<h2>List of books</h2>

<%= link_to  "+ New Book", new_book_path %>
<br>
<br>

<% if @books.size > 0 %>
  <table>
    <thead>
      <tr><th>Name</th>
      <th>Description</th>
      <th>Authors</th>
      <th>Actions</th><tr>
    </thead>
    <tbody>
      <% @books.each do |book| %>
        <tr>
          <td> <%= book.name %> </td>
          <td> <%= book.description %> </td>
          <td><%= book.authors.map{ |author| author.name }.join(',') %></td>
          <td>
            <%= link_to("Delete", book_path(book.id), method: :delete) if current_user.admin? %>
            <%= link_to("Add to Fav", "/books/#{book.id}/add_to_fav", method: :post)  %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>